@font-face {
  font-family: "PlayfairDisplay-VariableFont";
  src: url("../fonts/PlayfairDisplay-VariableFont_wght.ttf") format("truetype-variations");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "Muli";
  src: url("../fonts/muli/Muli.ttf") format("truetype-variations");
  font-weight: normal;
  font-style: normal;
}
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

*:not(i) {
  font-family: "Muli";
}

html body {
  display: flex;
  flex-direction: column;
  font-size: 62.5%;
}
html body header {
  width: 100%;
  padding: 3rem 5rem 1.5rem 5rem;
}
html body header nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: column;
}
html body header nav a {
  font-size: 1.8rem;
  text-decoration: none;
}
html body header nav a#logo {
  color: #000000;
  font-weight: 700;
}
html body header nav a#logo #logo-client {
  width: 10ch;
}
html body header nav ul {
  list-style: none;
  display: flex;
  gap: 5rem;
  padding: 10px;
}
html body header nav ul li .heart {
  display: flex;
  font-size: x-large;
  cursor: pointer;
  transition: all 0.5s;
  position: relative;
}
html body header nav ul li .heart span.counter {
  font-size: small;
  position: absolute;
  left: 25px;
  bottom: 5px;
  background-color: #e89221;
  width: 20px;
  height: 20px;
  border-radius: 50%;
  text-align: center;
}
html body header nav ul a {
  color: #333;
  font-weight: 600;
  font-size: small;
}
html body header nav ul a:hover {
  padding-bottom: 10px;
  border-bottom: 2px solid #e89221;
}
html body header nav #ham-menu {
  display: none;
}
html body header nav ul.active {
  left: 0;
}
html body section#home-firstpart {
  position: relative;
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: space-evenly;
  background-image: url("../img/salonblancvertcanardespritscandinave.png");
  height: 800px;
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center;
}
html body section#home-firstpart .home-firstpart-title, html body section#home-firstpart h1, html body section#home-firstpart h2 {
  position: relative;
}
html body section#home-firstpart .home-firstpart-title h1, html body section#home-firstpart h1 h1, html body section#home-firstpart h2 h1 {
  left: -73px;
  bottom: 77px;
  background-color: #1a75bb;
  font-size: large;
  color: #fff;
  text-align: center;
  letter-spacing: 3px;
  padding: 15px 2px 10px 0px;
}
html body section#home-firstpart .home-firstpart-title h2, html body section#home-firstpart h1 h2, html body section#home-firstpart h2 h2 {
  font-family: "PlayfairDisplay-VariableFont";
  left: 63px;
  bottom: 83px;
  background-color: #fff;
  font-size: xx-large;
  color: #e89221;
  padding: 2px 15px 8px;
}
html body section#home-firstpart form {
  z-index: 1;
  padding: 10px 10px 20px 10px;
  position: absolute;
  bottom: -10px;
  background-color: #e89221;
}
html body section#home-firstpart form .inner-form {
  display: inline-flex;
}
html body section#home-firstpart form .inner-form .input-field {
  position: relative;
  padding: 10px;
}
html body section#home-firstpart form .inner-form .input-field input#location {
  width: 400px;
}
html body section#home-firstpart form .inner-form .input-field ::placeholder {
  color: #000000;
}
html body section#home-firstpart form .inner-form .input-field .placeholder {
  position: absolute;
  pointer-events: none;
  top: 20px;
  left: 20px;
  margin: auto;
  font-size: large;
  color: #000000;
}
html body section#home-firstpart form .inner-form .input-field .placeholder span {
  color: #e89221;
}
html body section#home-firstpart form .inner-form .input-field input#location:valid + .placeholder {
  display: none;
}
html body section#home-firstpart form .inner-form .input-field input#search-distance {
  width: 100px;
}
html body section#home-firstpart form .inner-form .input-field input {
  height: 100%;
  background: #fff;
  border-radius: 0.5px;
  border: 0;
  display: block;
  width: 100%;
  padding: 10px 10px 10px 10px;
  font-size: 18px;
}
html body section#home-firstpart form .plus-search {
  font-size: 1.2em;
  position: absolute;
  bottom: 8px;
  right: 50px;
  color: #fff;
  font-weight: bold;
  cursor: pointer;
}
html body section#home-firstpart form .btn-search {
  border: none;
  width: 50px;
  height: 50px;
  background: #1a75bb;
  border-radius: 0.5px;
  font-size: 20px;
  color: #333;
  cursor: pointer;
}
html body section#home-firstpart form .btn-search .fa-magnifying-glass {
  font-size: xx-large;
}
html body section#home-secondpart {
  position: relative;
  margin: 10em 10% 10em 10%;
  background-image: url("../img/salonmauveetbleuespritscandinave.png");
  height: 500px;
  background-repeat: no-repeat;
  background-size: contain;
}
html body section#home-secondpart .home-secondpart-title {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  background-color: #fff;
  width: 400px;
  height: 400px;
  position: absolute;
  left: 450px;
  top: 50px;
}
html body section#home-secondpart .home-secondpart-title h1 {
  color: #e89221;
  font-size: medium;
  font-weight: bold;
  letter-spacing: 3px;
}
html body section#home-secondpart .home-secondpart-title h2 {
  font-family: "PlayfairDisplay-VariableFont";
  color: #1a75bb;
  font-size: xx-large;
  font-weight: bold;
}
html body section#home-secondpart .home-secondpart-title .btn-offres {
  display: flex;
  align-items: center;
  margin-top: 50px;
  border: none;
  padding: 20px 30px 20px 30px;
  background: #1a75bb;
  border-radius: 0.5px;
  font-size: small;
  font-weight: bold;
  letter-spacing: 3px;
  color: #fff;
  cursor: pointer;
}
html body section#home-secondpart .home-secondpart-title .btn-offres a {
  text-decoration: none;
  color: #fff;
}
html body section#home-secondpart .home-secondpart-title .btn-offres .fa-arrow-right-long {
  font-size: xx-large;
  padding: 0px 0px 0px 10px;
}
html body .table {
  margin: 25px 0px 50px 0px;
  border: 1px solid #C0C0C0;
  border-collapse: collapse;
}
html body .table thead tr th {
  border: 1px solid #C0C0C0;
  padding: 5px;
  background: #F0F0F0;
}
html body .table tbody tr td {
  border: 1px solid #C0C0C0;
  padding: 5px;
}
html body footer {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  background-color: #1a75bb;
  width: 100%;
  height: 400px;
  font-size: large;
}
html body footer h1 {
  color: #fff;
}
html body footer p {
  color: #fff;
}
html body footer .btn-contact {
  display: flex;
  align-items: center;
  border: none;
  padding: 10px 15px 10px 15px;
  background: #e89221;
  border-radius: 0.5px;
  font-size: small;
  font-weight: bold;
  letter-spacing: 3px;
  color: #fff;
  cursor: pointer;
}
html body footer .btn-contact i {
  font-size: large;
  padding: 0px 5px 0px 5px;
}
html body footer .social {
  font-size: xx-large;
  color: #fff;
}

@media only screen and (max-width: 993px) {
  html {
    font-size: 56.25%;
  }
  html body section#home-firstpart {
    height: 600px;
  }
  html body section#home-firstpart form {
    bottom: -150px;
    width: auto;
  }
  html body section#home-firstpart form .inner-form {
    display: block;
  }
  html body section#home-firstpart form .inner-form .input-field input#location {
    width: auto;
  }
  html body section#home-firstpart form .inner-form .placeholder span {
    display: none;
  }
  html body section#home-firstpart form .plus-search {
    font-size: large;
  }
  html body section#home-secondpart {
    margin: unset;
    background-position: center;
  }
  html body section#home-secondpart .home-secondpart-title {
    background-color: unset;
    position: unset;
    width: unset;
  }
  html body section#home-secondpart .home-secondpart-title h1, html body section#home-secondpart .home-secondpart-title h2 {
    display: none;
  }
}
@media only screen and (max-width: 767px) {
  html {
    font-size: 50%;
  }
  html body header {
    padding: 3rem 5rem 0rem 5rem;
  }
  html body header nav {
    flex-direction: row;
  }
  html body header nav #ham-menu {
    display: block;
    color: #333;
    font-size: 5.2rem;
  }
  html body header nav ul {
    background-color: #fff;
    position: fixed;
    left: -100vw;
    top: 100px;
    width: 100vw;
    height: calc(100vh - 100px);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    transition: 1s;
    gap: 0;
    z-index: 2;
  }
  html body section#home-firstpart {
    justify-content: unset;
    background-size: auto;
  }
  html body section#home-firstpart .home-firstpart-title, html body section#home-firstpart h1, html body section#home-firstpart h2 {
    position: unset;
    padding: 50px;
  }
}
@media only screen and (max-width: 575px) {
  html {
    font-size: 46.87%;
  }
  html body header {
    padding: 2rem 3rem;
  }
  html body header nav ul {
    top: 80px;
    height: calc(100vh - 80px);
  }
}

/*# sourceMappingURL=index.css.map */
