$font-family-VariableFont: '../fonts/PlayfairDisplay-VariableFont_wght.ttf';
$font-family-Italic-VariableFont: '../fonts/PlayfairDisplay-Italic-VariableFont_wght.ttf';
$font-family-Muli: '../fonts/muli/Muli.ttf';
$bg-color: #fff;
$ft-color: #333;
$or-color: #e89221;
$bl-color: #1a75bb;

@font-face {
    font-family: 'PlayfairDisplay-VariableFont';
    src: url($font-family-VariableFont) format('truetype-variations');
    font-weight: normal;
    font-style: normal;
}

@font-face {
  font-family: 'Muli';
  src: url($font-family-Muli) format('truetype-variations');
  font-weight: normal;
  font-style: normal;
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

*:not(i) {
  font-family: 'Muli';
}

html {
  body {
    display: flex;
    flex-direction: column;
    font-size: 62.5%;
    header {
      width: 100%;
      padding: 3rem 5rem 1.5rem 5rem;
      nav {
        display: flex;
        justify-content: space-between;
        align-items: center;
        flex-direction: column;
        a {
          font-size: 1.8rem;
          text-decoration: none;
        }
        a#logo {
          color: #000000;
          font-weight: 700;         
          #logo-client {
            width: 10ch;
          }
        }
        ul {
          list-style: none;
          display: flex;
          gap: 5rem;
          padding: 10px;
          li .heart {
            display: flex;
            font-size: x-large;
            cursor: pointer;
            transition: all 0.5s;
            position: relative;
            span.counter {
              font-size: small;
              position: absolute;
              left: 25px;
              bottom: 5px;
              background-color: $or-color;
              width: 20px;
              height: 20px;
              border-radius: 50%;
              text-align: center;
            }
          }
          a {
            color: $ft-color;
            font-weight: 600;
            font-size: small;
          }
          a:hover {
            padding-bottom: 10px;
            border-bottom: 2px solid $or-color;
          }
        }
        #ham-menu {
          display: none;
        }
        ul.active {
          left: 0;
        }
      }
    }
    section#home-firstpart {
      position: relative;
      display: flex;
      align-items: center;
      flex-direction: column;
      justify-content: space-evenly;
      background-image: url("../img/salonblancvertcanardespritscandinave.png");
      height: 800px;
      background-repeat: no-repeat;
      background-size: contain;
      background-position: center;
      .home-firstpart-title, h1, h2 {
        position: relative;
        h1 {
          left: -73px;
          bottom: 77px;
          background-color: $bl-color;
          font-size: large;
          color: $bg-color;
          text-align: center;
          letter-spacing : 3px;
          padding: 15px 2px 10px 0px;
        }
        h2 {
          font-family: 'PlayfairDisplay-VariableFont';
          left: 63px;
          bottom: 83px;
          background-color: $bg-color;
          font-size: xx-large;
          color: $or-color;
          padding: 2px 15px 8px;
        }
      }
      form {
        z-index: 1;
        padding: 10px 10px 20px 10px;
        position: absolute;
        bottom: -10px;
        background-color: $or-color;
        .inner-form {
          display: inline-flex;
          .input-field {
            position: relative;
            padding: 10px;
            input#location {
              width: 400px;
            }
            ::placeholder {
              color: #000000;
            }
            .placeholder {
              position: absolute;
              pointer-events: none;
              top: 20px;
              left: 20px;
              margin: auto;
              font-size: large;
              color: #000000;
              span {
                color: $or-color;
              }
            }
            input#location:valid + .placeholder {
              display: none;
            }
            input#search-distance {
              width: 100px;
            }
          }
          .input-field input {
            height: 100%;
            background: #fff;
            border-radius: 0.5px;
            border: 0;
            display: block;
            width: 100%;
            padding: 10px 10px 10px 10px;
            font-size: 18px;
          }
        }
        .plus-search {
          font-size: 1.2em;
          position: absolute;
          bottom: 8px;
          right: 50px;
          color: $bg-color;
          font-weight: bold;
          cursor: pointer;
        }
        .btn-search {
          border: none;
          width: 50px;
          height: 50px;
          background: $bl-color;
          border-radius: 0.5px;
          font-size: 20px;
          color: $ft-color;
          cursor: pointer;
          .fa-magnifying-glass {
            font-size: xx-large;
          }
        }
      }
    }
    section#home-secondpart {
      position: relative;
      margin: 10em 10% 10em 10%;
      background-image: url("../img/salonmauveetbleuespritscandinave.png");
      height: 500px;
      background-repeat: no-repeat;
      background-size: contain;
      .home-secondpart-title {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        text-align: center;
        background-color: #fff;
        width: 400px;
        height: 400px;
        position: absolute;
        left: 450px;
        top: 50px;
        h1 {
          color: $or-color;
          font-size: medium;
          font-weight: bold;
          letter-spacing : 3px;
        }
        h2 {
          font-family: 'PlayfairDisplay-VariableFont';
          color: $bl-color;
          font-size: xx-large;
          font-weight: bold;
        }
        .btn-offres {
          display: flex;
          align-items: center;
          margin-top: 50px;
          border: none;
          padding: 20px 30px 20px 30px;
          background: $bl-color;
          border-radius: 0.5px;
          font-size: small;
          font-weight: bold;          
          letter-spacing : 3px;
          color: $bg-color;
          cursor: pointer;
          a {
            text-decoration: none;
            color: $bg-color;
          }
          .fa-arrow-right-long {
            font-size: xx-large;
            padding: 0px 0px 0px 10px;
          }
        }
      }
    }
    .table {
      margin: 25px 0px 50px 0px;
      border:1px solid #C0C0C0;
      border-collapse: collapse;
      thead tr th {
        border:1px solid #C0C0C0;
        padding:5px;
        background:#F0F0F0;
      }
      tbody tr td {
        border:1px solid #C0C0C0;
        padding:5px;
      }
    }
    footer {
      display: flex;
      flex-direction: column;
      justify-content: space-evenly;
      align-items: center;
      background-color: $bl-color;
      width: 100%;
      height: 400px;
      font-size: large;
      h1 {
        color: $bg-color;
      }
      p {
        color: $bg-color;
      }
      .btn-contact {
        display: flex;
        align-items: center;
        border: none;
        padding: 10px 15px 10px 15px;
        background: $or-color;
        border-radius: 0.5px;
        font-size: small;
        font-weight: bold;
        letter-spacing: 3px;
        color: $bg-color;
        cursor: pointer;
        i {
          font-size: large;
          padding: 0px 5px 0px 5px;
        }
      }
      .social {
        font-size: xx-large;
        color: #fff;
      }
    }
  }
}


@media only screen and (max-width: 993px) {
  html {
    font-size: 56.25%;
    body section#home-firstpart {
      height: 600px;
      form {
        bottom: -150px;
        width: auto;
        .inner-form {
          display: block;
          .input-field input#location {
            width: auto;
          }
          .placeholder span {
            display: none;
          }
        }
        .plus-search {
          font-size: large;
        }
      }
    }
    body section#home-secondpart {
      margin: unset;
      background-position: center;
      .home-secondpart-title {
        background-color: unset;
        position: unset;
        width: unset;
        h1, h2 {
          display: none;
        }
      }
    }
  }
}

@media only screen and (max-width: 767px) {
  html {
    font-size: 50%;
    body header {
      padding: 3rem 5rem 0rem 5rem;
    }
   body header nav {
      flex-direction: row;
      #ham-menu {
        display: block;
        color: $ft-color;
        font-size: 5.2rem;
      }
      ul {
        background-color: $bg-color;
        position: fixed;
        left: -100vw;
        top: 100px;
        width: 100vw;
        height: calc(100vh - 100px);
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: space-around;
        transition: 1s;
        gap: 0;
        z-index: 2;
      }
    }
    body section#home-firstpart {
      justify-content: unset;
      background-size: auto;
      .home-firstpart-title, h1, h2 {
        position: unset;
        padding: 50px;
      }
    }
  }
}
        
@media only screen and (max-width: 575px) {
  html {
    font-size: 46.87%;
    body header {
      padding: 2rem 3rem;
      nav ul {
        top: 80px;
        height: calc(100vh - 80px);
      }
    }
  }
}
